body {
  font-family: sans-serif;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}
.divstyle {
  height: 50px;
  width: 200px;
  border: 1px solid red;
}